@{
    ViewData["Title"] = "Regresión Lineal";
}

<h2>Bienvenido al Módulo de Regresión Lineal</h2>

<p>Utiliza esta herramienta para calcular la regresión lineal entre dos variables. Puedes elegir entre dos métodos diferentes: mínimos cuadrados o covarianza.</p>

<a asp-action="InputRegression" class="btn btn-primary">Iniciar Cálculo</a>







